.cell {
    display: block;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent;
    box-sizing: border-box;
}

.cell.apple {
    background-color: yellow;
}

.cell.snake {
    background-color: cornflowerblue;
}

.cell.snake.head {
    background-color: blueviolet;
}

.cell.snake.tail {
    background-color: blueviolet;
}

.finished .cell.snake {
    background-color: red;
}