.cell {
    display: block;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent;
    border-right: var(--main-border-dash);
    border-bottom: var(--main-border-dash);
    box-sizing: border-box;
}

.cell.snake {
    background-color: hotpink;
}

.cell.snake.head {
    background-color: red;
}

.cell.snake.tail {
    background-color: red;
}