@import url("./vars/borders.css");
@import url("./vars/cells.css");
@import url("./field/field.css");
@import url("./field/cell.css");
@import url("./info/score.css");

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    background-color: mintcream;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}